/*

Colour Theme

*/

// $grey-dark: rgb(32, 34, 37);
// $grey-light: rgb(47, 49, 54);
// $grey-lighter: rgb(55, 57, 62);

// $grey-dark: rgb(43, 47, 53);
// $grey-light: rgb(51, 58, 77);
// $grey-lighter: rgb(67, 75, 101);

// $grey-dark: rgb(43, 47, 53);
// $grey-light: rgb(51, 58, 77);
// $grey-lighter: rgb(59, 67, 91);

$grey-dark: rgb(43, 47, 53);
$grey-light: rgb(62, 65, 75);
$grey-lighter: rgb(77, 81, 94);

$header-dark: rgb(43, 47, 52);

/* 

  Alignment

*/
.cja {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cj {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ca {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rja {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rj {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ra {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Button global styles */
.button-default {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* 

Animations 

*/

.scale-animation {
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }
}

/*

Sizes


*/

$header-height: 40px;
$footer-height: 100px;
