@import "../common/modules.scss";

.chat-bar {
  grid-area: chat-bar;
  @extend .ca;
  height: 100%;
  background-color: $grey-lighter;

  &-center {
    width: 100%;
  }
}

.chat-bar-header {
  @extend .ra;
  height: $header-height;
  background-color: $grey-light;
  width: 100%;
  border-bottom: $header-dark 2px solid;

  &-search-button {
    @extend .button-default;
    @extend .rja;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.39);
  }

  &-search {
    width: 0px;
    height: 70%;
    background-color: rgba(103, 107, 116, 0.44);
    margin-right: auto;
    margin-left: 20px;
    border-radius: 5px;
    transition: 0.4s;

    input,
    form {
      width: 100%;
      height: 100%;
      background-color: transparent;
      outline: none;
      border: none;
      padding-left: 10px;
      font-size: 15px;
      color: rgb(198, 198, 198);
      font-weight: 550;
    }
  }

  &-call {
    @extend .button-default;
    @extend .rja;
    margin-left: auto;
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.39);
  }

  &-video {
    @extend .button-default;
    @extend .rja;
    margin-right: 100px;
    color: rgba(255, 255, 255, 0.39);
  }
}

.chat-bar-footer {
  @extend .rj;
  height: $footer-height;
  margin-top: auto;
  width: 100%;
  &-input-container {
    @extend .rja;
    width: 90%;
    background-color: rgba(51, 58, 77, 0.349);
    height: 50px;
    border-radius: 10px;

    input,
    form {
      width: 100%;
      height: 100%;
      background-color: transparent;
      outline: none;
      border: none;
      padding-left: 10px;
      font-size: 15px;
      color: rgb(198, 198, 198);
      font-weight: 550;
    }

    &-send {
      @extend .button-default;
      margin-left: auto;
      color: rgba(198, 198, 198, 0.618);
    }
    &-more {
      @extend .button-default;

      color: rgba(198, 198, 198, 0.618);
    }

    &-cookie {
      @extend .button-default;
      margin-right: 40px;
      color: rgba(198, 198, 198, 0.618);
    }
  }
}
